/* background: center/cover no-repeat url('/media/cc0-images/hamster.jpg'); */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
   
}


.info{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color:rgba(207, 231, 229, 0.945);
    color: #000;
}

.message{
    width: 100%;
    max-width: 400px;
    padding: 2rem 1rem;
    background: rgb(32, 196, 224);
    color: #fff;
    margin: 1rem;
}

.message h2{
    margin: 1rem 0;
    font-size: 2rem;
}

.message p{
    font-weight: bold;
}

.btn-ok{
    font-size: 1rem;
    padding: 0.3rem 1rem;
    background: none;
    color: #fff;
    border: solid 1px #fff;
    outline: none;
}

nav h1{
    text-align: center;
    background: rgb(20, 207, 220);
    padding: 1rem 0;
    font-size: 2.3rem;
    color: rgb(220, 252, 245);
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2rem auto;   
    width: 100%;
    max-width: 450px;
    padding: 1rem;
    
}

textarea{
    width: 100%;
    max-width: 400px;
    height: 150px;
    margin-top: 1rem;
    border: solid 1px #000;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem;
}

 .translation-txt{
    width: 100%;
    max-width: 400px;
    height: 150px;
    margin-top: 1rem;
    border: solid 1px #000;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.5rem;

} 

label{
    font-size: 1.2rem;
    font-weight: bold;
}

select{
    font-size: 0.9rem;
    padding: 0.2rem;
    font-weight: bold;
}

option{
    font-size: 0.8rem;
    background: rgb(247, 244, 244);
}

button{
    display: block;
    margin: auto;
    font-size: 1.1rem;
    padding: 0.3rem 2rem;
    margin: 1rem 0 0 0;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}